apache-airflow[postgres]==2.9.0
apache-airflow-providers-common-io==1.4.0
apache-airflow-providers-common-sql==1.8.1
apache-airflow-providers-fab==1.2.2
apache-airflow-providers-ftp==3.6.1
apache-airflow-providers-http==4.7.0
apache-airflow-providers-imap==3.4.0
apache-airflow-providers-postgres==5.8.0
apache-airflow-providers-smtp==1.7.1
apache-airflow-providers-sqlite==3.5.0
